.App {
  display: inline-block;
  align-items: center;
  margin:150px;
  margin-left:450px;
  border:4px solid black!important;
  height:400px;
  width:400px;
  text-align: center;
  background-color: white;
}

.tooltip:hover::before {
  position: absolute;
  top: -0.25rem;
  padding:3px;
  width: max-content;
  height: 20px;
  content: attr(data-tip);
  border:2px solid rgb(217, 154, 247);
  color:white;
  background-color:rgb(217, 154, 247);
  transform: translate(50%, -100%);
  font-size:smaller
}

#btn{
  margin:50px;
  padding:15px;
  border:burlywood;
  background-color: burlywood;
  
}

.fixed_button{ 
  position: absolute; 
  top: 5px;
  right: 50px;
  width: 70px; 
  margin:0 auto;
  margin-top:10px;
  margin-right:750px;
  border: 0px solid black;  
  
  }